:root {
    /* Colors */
    --card-pink: #FC5D89;
    --card-purple: #7552F2;
    --card-orange: #F2784B;
    --card-blue: #1954FD;
    --body-bg-light-grey:#F0F0F2;
    --logo-dc-purple: #7571F9;
    --logo-dc-pink:#BF1171;
    --main-dark-text: #262223;
    /* Font Sizes */
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-32: 32px;
    --fs-40: 40px;
    --fs-48: 48px;
    --fs-64: 64px;
}

/* .bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  } */
/* 

.password_btn{
    color: --body-bg-light-grey;
    background-color: -logo-dc-pink;
    width: 100px;
    }
    
.password_btn:hover{
    color: logo-dc-pink;
    background-color: --body-bg-light-grey;
    } */

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 40px;
    margin-left: 10px;
    color: #BF1162;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.login_btn {
    color: white;
    background-color: #BF1162;
    width: 100px;
}

.login_btn:hover {
    color: #BF1162;
    background-color: white;
}