/* 

.password_btn{
    color: white;
    background-color: #BF1162;
    width: 100px;
    }
    
.password_btn:hover{
    color: #bf1162;
    background-color: white;
    } */

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 40px;
    margin-left: 10px;
    color: #BF1162;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.login_btn {
    color: white;
    background-color: #BF1162;
    width: 100px;
}

.login_btn:hover {
    color: #BF1162;
    background-color: white;
}